body {
  height: 1300px;
  background-color: #265B15;
  background-image: linear-gradient(to bottom right, #265B15 50%, #847A5D 50%);
  margin: opx;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", serif;
  font-weight: 400;
  font-style: normal;
}


main{
    margin-left: 20px;
    margin-right: 20px;
}

.topnav {
font-family: "inter";
display: flex;
position: sticky;
align-items: center;
justify-content: space-between;
top: 0;
background: rgba(0, 0, 0, 0.6)
background-blend-mode: darken;
background-size: cover;
color: white;
padding: 10px 20px;
background-color: #555555;
text-decoration: none;
border-radius:15px;
}

.topnav a:hover{
background-color: #265B15;
border-radius:30px;
padding: 5px;
}

.topnav a{
color: white;
text-decoration: none;
font-size: 25px;
}

.book{
    background-color: green;
    border-radius: 15px;
    padding: 10px;

}


.topnav img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}





 .login-container {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }
 input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
 button {
            width: 100%;
            padding: 10px;
            background: #007BFF;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 5px;
        }
 button:hover {
            background: #0056b3;
        }
