<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>RZA ZOO</title>
    <link rel="stylesheet" href="static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
<div class="topnav">
  <a href="{{ url_for('home_page') }}"><img src="static\a.jpg.png" alt="Logo">
  <a href="{{ url_for('visit_page') }}">Visit Here</a>
  <a href="{{ url_for('about_page') }}">About</a>
    <a href="{{ url_for('plan_page') }}">Plan your Visit</a>
      <a href="{{ url_for('login_page') }}">Login</a>
   <a href="{{ url_for('book_page') }}" class="book" >Book Now</a>
</div>
<div>
    <img src="static/a.jpg.png" class="logo">
    <br>
    <br>
    <br>
    <a class="info">The History and Impact of RZA and Edinburgh Zoo

The Royal Zoological Society of Scotland (RZA) was founded in 1909 with the mission of promoting conservation, research, and education related to wildlife. The society established Edinburgh Zoo, which officially opened its doors to the public in 1913. Since then, the zoo has become one of the most popular and well-regarded wildlife attractions in the UK.

Conservation and Charity Work

RZA has played a significant role in global conservation efforts. The society is dedicated to protecting endangered species through breeding programs, habitat conservation, and research. One of its notable achievements is the breeding of endangered species, including the Scottish wildcat.

Additionally, RZA collaborates with conservation partners worldwide, supporting projects that aid species such as giant armadillos in South America and pangolins in Africa and Asia. The organization also engages in fundraising and charitable initiatives to support wildlife conservation and sustainability efforts.

Animal Collection

Edinburgh Zoo is home to over 1,000 animals from around the world, including some of the most rare and endangered species. It is the only zoo in the UK to house giant pandas, which have been a major attraction. Other notable residents include koalas, sun bears, tigers, penguins, and rhinos. The famous Penguin Parade, where penguins are allowed to freely roam outside their enclosure, has been a long-standing visitor favorite.

Education and Visitor Experiences

The zoo places great emphasis on education and public engagement. Schools and families can participate in interactive educational sessions, workshops, and behind-the-scenes experiences. RZA also runs outreach programs to educate the public about conservation challenges and inspire future generations to protect wildlife.

Through its dedication to animal welfare, conservation, and education, RZA continues to make a lasting impact around the world.</a>
</div>
</head>
<body>

</body>
</html>
