<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>RZA ZOO</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
<div class="topnav">
    <img src="static\a.jpg.png" alt="Logo">
  <a href="{{ url_for('visit_page') }}">Visit Here</a>
  <a href="{{ url_for('about_page') }}">About</a>
    <a href="{{ url_for('plan_page') }}">Plan your Visit</a>
    <a href="{{ url_for('login_page') }}">Login</a>
   <a href="{{ url_for('book_page') }}" class="book" >Book Now</a>
</div>
<div class="info">
    <img src="static/Lion.jpg" class="lion">
    <a> Experience A World Of Wildlife</a>
</div>
<div class="sub">
    <a>Visit RZA ZOO</a>
</div>
<div class=bottomnav>
    <a href="missout"> Don't Miss Out!</a>
    <a href="experience">Experience Our Fun Activities</a>
    <a href="bookmem">Book and Make Memories that <br> will last a lifetime</a>
    <img src="static/monkey.jpg" class="monkey">
    <img src="static/giraffe.jpg" class="giraffe">
    <img src="static/elephant.jpg" class="elephant">
    <a href="member"> Become a Member Today </a>
    <a href="year"> MAKE THIS YEAR ONE TO REMEMBER WITH YEAR ROUND VISIT TO OUR zoo</a>

</div>
</body>
</html>
