<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>RZA ZOO</title>
    <link rel="stylesheet" href="static/plan.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
<div class="topnav">
  <a href="{{ url_for('home_page') }}"><img src="static\a.jpg.png" alt="Logo">
  <a href="{{ url_for('visit_page') }}">Visit Here</a>
  <a href="{{ url_for('about_page') }}">About</a>
    <a href="{{ url_for('plan_page') }}">Plan your Visit</a>
      <a href="{{ url_for('login_page') }}">Login</a>
   <a href="{{ url_for('book_page') }}" class="book" >Book Now</a>
</div>
<div>
    <img src="static/giraffe.jpg" class="animal">
    <a href="address">
        RZA Zoo
        42 Wildwood Lane
        Kingston-upon-Thames
        Surrey
        KT1 3XZ
        United Kingdom</a>
    <br>

</div>
</html>
