<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/visit.css">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
<div class="topnav">
   <a href="{{ url_for('home_page') }}"><img src="static\a.jpg.png" alt="Logo">
  <a href="{{ url_for('visit_page') }}">Visit Here</a>
  <a href="{{ url_for('about_page') }}">About</a>
    <a href="{{ url_for('plan_page') }}">Plan your Visit</a>
       <a href="{{ url_for('login_page') }}">Login</a>
  <a href="{{ url_for('book_page') }}" class="book" >Book Now</a>
</div>
<div class="info">
    <img src="static/parrot.jpg" class="parrot">
    <br>
    <br>
    <br>
    <a href="description">
Welcome to RZA Zoo, a vibrant heaven for wildlife enthusiasts of all ages! Here at RZA Zoo, you can embark on an exciting journey through diverse habitats filled with fascinating creatures.
Marvel at the colorful parrots, their brilliant feathers glistening in the sunlight as they chatter and sing in our tropical aviary. Venture to the African savannah exhibit, where the majestic giraffes gracefully roam, their long necks reaching for the tallest branches. Nearby, the playful monkeys swing and leap through the treetops, delighting visitors with their energetic antics.
Don't miss the lion's den, where the king of the jungle lounges in regal splendor, his powerful presence a sight to behold. Each corner of RZA Zoo offers a new adventure, bringing you closer to the wonders of the animal kingdom. <a/>
</div>
</body>
</html>
